{% extends "base.html" %}

{% block portfolio-name %}
  <h2 class="az-content-title mg-b-5 mg-b-lg-8">Portfolios</h2> 
{% endblock %}

{% block content %}

<div class="dataTables_wrapper no-footer">
  <table id="portfolio_table" class="table table-striped" data-server-side="true" data-ajax="/api/portfolios/?format=datatables">
    <thead>
        <tr>
            <th data-data="name">Name</th>
            <th data-data="description">Description</th>
            <th data-data="live_quotes">Live Quotes</th>
            <th data-data="update_every">Update Every</th>
            <th data-data="default_commission">Default Commission</th>
            <th data-data="cash">Cash</th>
            <th data-data="include_cash_balance">Include Cash Balance</th>
            <th data-data="update_cash_balance_with_transaction">Update Cash</th>
            <th data-data="created">Created</th>
            <th data-data="modified">Modified</th>
        </tr>
    </thead>
  </table>
</div>

<hr/>
<div>
  <h2>
    Charts
  </h2>
</div>
        
        
{% endblock %}