{% extends "base.html" %}

{% block portfolio-name %}
  <!-- <h2 class="az-content-title mg-b-5 mg-b-lg-8">Portfolios</h2>  -->
{% endblock %}

{% block content %}


<h1>Select Portfolios, watchlist or indexes to see details</h1>
        
{% endblock %}


{% block javascript %}

<script> //portfolio_table
    $(document).ready(function() {

      $('#portfolio_table').DataTable({
        bAutoWidth: false,
        responsive: true,
        colReorder: true,
        stateSave:  true,
        paging: true,
        select: {
            style: 'single'
        },
        columnDefs: [
          {"className": "dt-center", "targets": "_all"}
        ]
      })
    });
</script>

<script> //watchlist_table
  $(document).ready(function() {

    $('#watchlist_table').DataTable({
      bAutoWidth: false,
      responsive: true,
      colReorder: true,
      stateSave:  true,
      paging: true,
      select: {
          style: 'single'
      },
      columnDefs: [
        {"className": "dt-center", "targets": "_all"}
      ]
    })
  });
</script>


{% endblock %}