{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block portfolio %}
<a href="" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Portfolios</a>
  <ul class="nav-sub">
    <div id="list-portfolio">

    </div>
    <li class="nav-sub-item"><a href class="nav-sub-link" data-toggle="modal" data-target="#modalPortfolio" ><i class="fa fa-plus"></i>Create Portfolio</a></li>
    
    
  </ul>


<div class="modal" id="modalPortfolio">
  <div class="modal-dialog"  role="document">
    <div class="modal-content" id="modalForm">
      <div class="modal-header">
        <h6 class="modal-title">Create Portfoliio</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
        <form id="myForm">
          <div class="modal-body">
            <h6>Let's get you all setup so you can begin tracking your investments.</h6>
            <p>Some Random Text.Someme Random Text.Some Random Text.Some RRandom Text.Some Random Text. </p>

            <!-- <div class="form-group">
              <input type="text" id="portfolio-name" class="form-control" placeholder="Portfolio Name">
            </div> -->
            {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <input type="submit" id="btn-portfolio-submit" class="btn btn-indigo">
          </div>
        </form>
    </div>
  </div><!-- modal-dialog -->
</div>
{% endblock %}    


{% block javascript %}
<script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');




  buildList()

  //Making a GET request with fetch
  function buildList() {
    var listWrapper = document.getElementById('list-portfolio')
    listWrapper.innerHTML = ''
    var URL = window.location.origin + '/api/portfolio-list/'

    fetch(URL, {
      headers:{
          'Accept': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
      },
    })
    .then(response => {
      return response.json() //Convert response to JSON
    })
    .then(data => {
      //Perform actions with the response data from the view
      // console.log('Data: ', data)

      var list = data
      for (var i in list) {
        // console.log('Each Data: ', list[i].name)
        var item = `
          <li class="nav-sub-item"><a href class="nav-sub-link">${list[i].name}</a></li>
          `
        listWrapper.innerHTML += item
      }
    })

  }




  //Making a POST request with fetch
  const form = document.getElementById('myForm')

  form.addEventListener('submit', function(e){
    e.preventDefault();

    console.log('Form Submitted')
    var URL = window.location.origin + '/api/portfolio-create/' 

    const data = new FormData(this)
    const searchParam = new URLSearchParams()
    
    for (const pair of data) {
      searchParam.append(pair[0], pair[1])
      // console.log(searchParam)
    }


    fetch(URL, {
      method: 'POST',
      headers:{
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'name': searchParam.get('name'),
        'description': searchParam.get('description'),
        'live_quotes': searchParam.get('live_quotes'),
        'update_every': searchParam.get('update_every'),
        'default_commission': searchParam.get('default_commission'),
        'include_cash_balance': searchParam.get('include_cash_balance'),
        'update_cash_balance_with_transaction': searchParam.get('update_cash_balance_with_transaction'),
      }) //JavaScript object of data to POST
    })

    .then(response => {
      buildList()
      $('#modalPortfolio').modal('toggle');
      })
    .then(data => {
      console.log(data)
      //Perform actions with the response data from the view
    })
    .catch(error => {
      console.log(error)
    })
    
  });


</script>
{% endblock %}   
