{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block headers %}
    <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

  
{% endblock %}


{% block portfolio-name %}
<h2 class="az-content-title mg-b-5 mg-b-lg-8">{{ portfolio.name }}</h2> 
<h2 id="portfolio_id" class="az-content-title mg-b-5 mg-b-lg-8">{{ portfolio.id }}</h2> 
{% endblock %}

{% block content %}
<!-- {{ portfolio }} -->

    <div class="pd-20 bg-gray-200">
        <nav class="nav az-nav-line flex-column flex-md-row">
            <a class="nav-link active" data-toggle="tab" href="#">Price</a>
            <a class="nav-link" data-toggle="tab" href="#">Fundamentals</a>
            <a class="nav-link" data-toggle="tab" href="#">Reports</a>
            <a class="nav-link" data-toggle="modal" data-target="#modalTransaction" href>Buy/Sell</a>
            <a class="nav-link" data-toggle="tab" href="#">Distribution</a>
            <a class="nav-link" data-toggle="tab" href="#">Other</a>
            <a class="nav-link" data-toggle="tab" href="#">Details</a>
            <a class="nav-link" data-toggle="tab" href="#">Alerts</a>
            <a class="nav-link" data-toggle="tab" href="#">Get Quoes</a>
            <a class="nav-link" data-toggle="tab" href="#">More</a>
        </nav>

        <div class="modal" id="modalTransaction">
            <div class="modal-dialog"  role="document">
              <div class="modal-content" id="modalForm">
                <div class="modal-header">
                  <h6 class="modal-title">Buy Stock</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                  <form id="myTransactionForm">
                    <div class="modal-body">
                      <h6>Let's get you all setup so you can begin tracking your investments.</h6>
                      <p>Some Random Text.Someme Random Text.Some Random Text.Some RRandom Text.Some Random Text. </p>

                      <!-- {% crispy form %} -->
                      {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                      <input type="submit" id="btn-transaction-submit" class="btn btn-indigo">
                    </div>
                  </form>
              </div>
            </div><!-- modal-dialog -->
          </div>
    </div>
    <br/>

    <div>
      
      
        <h3>Transactions</h3>



        

          <div class="table-responsive">
            <table id="example" class="table table-striped table-hover display nowrap" cellspacing="0" style="width:100%" >
              <thead>
                  <tr>
                    <th>Quantity</th>
                    <th>DateAdded</th>
                    <th>Symbol</th>
                    <th>PurchaseCost</th>
                    <th>BuyComment</th>
                    
                  </tr>
              </thead>

            </table>
          </div>
        </div>
        <!-- {{ stock }} -->
        <!-- <input id="datetimepicker" type="text"> -->

        <div id="events">
            Event summary - new events added at the top
        </div>
        
    </div>


        

{% endblock %}  


{% block javascript %}

  <script>
    $(document).ready(function() {
      var events = $('#events');
      var portfolio_id = document.getElementById('portfolio_id').textContent
      var collapsedGroups = {};
      var table = $('#example').DataTable({
        colReorder: true,
        stateSave:  true,
        select: {
            style: 'single'
        },
        ajax: window.location.origin + '/api/portfolios/' + portfolio_id + '/transactions/?format=datatables',
        order: [[ 2, "desc" ]],
        columns: [
          { "data": "quantity" },
          { "data": "purchase_date" },
          { "data": "symbol" },
          { "data": "price" },
          { "data": "comments" },
        ],
        rowGroup: {
          dataSrc: 'symbol',
          startRender: function ( rows, group ) {
            var collapsed = !!collapsedGroups[group];

            rows.nodes().each(function (r) {
              r.style.display = collapsed ? 'none' : '';
            });

            return $('<tr/>')
              .append('<td colspan="8">' + group + ' (' + rows.count() + ')</td>')
              .attr('data-name', group)
              .toggleClass('collapsed', collapsed);
          },
        },
      });

      $('#example tbody tr.group-start').each(function() {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
      });
      table.draw(false);

      $('#example tbody').on('click', 'tr.group-start', function () {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
                table.draw(false);
      });  

      table
        .on( 'select', function ( e, dt, type, indexes ) {
            var rowData = table.rows( indexes ).data().toArray();
            events.prepend( '<div><b>'+type+' selection</b> - '+JSON.stringify( rowData )+'</div>' );
        } )
        // .on( 'deselect', function ( e, dt, type, indexes ) {
        //     var rowData = table.rows( indexes ).data().toArray();
        //     events.prepend( '<div><b>'+type+' <i>de</i>selection</b> - '+JSON.stringify( rowData )+'</div>' );
        // } );


    });



  </script>


  <script>
    $(function () {
      $("#id_purchase_date").datetimepicker();
      // $('#transaction_table').DataTable( {
      //       colReorder: true,
      //       responsive: true,
      //       order: [[2, 'asc']],
      //       rowGroup: {
      //           dataSrc: 2,
      //         }
      //       })

    });
  </script>

  <script>

    updateTransactions()

    //Making a GET request with fetch
    function updateTransactions() {

      console.log('Updating Trasnactions')

      // var listTransactionWrapper = document.getElementById('list-transaction')
      // listTransactionWrapper.innerHTML = ''

      var portfolio_id = document.getElementById('portfolio_id').textContent
      var URL = window.location.origin + '/api/portfolios/' + portfolio_id + '/transactions/'

      fetch(URL, {
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
        },
      })
      .then(response => {
      
        return response.json() //Convert response to JSON      
      })
      .then(data => {
        //Perform actions with the response data from the view      
        console.log('transaction Data: ', data.results)
        $('#transaction_table').DataTable().draw()
        // $('#transaction_table').DataTable( {
        //     colReorder: true
        // });

        var list = data.results
        for (var i in list) {
          console.log('New Data: ', list[i])
          // var totalSymbolsList = `
          // <tr>
          //   <td>${list[i].symbol}</td>
          //   <td>${list[i].quantity}</td>
          //   <td>{{ APIprice }}</td>
          // </tr>
          // `
          // listTransactionWrapper.innerHTML += totalSymbolsList
        }
        
      })
    }

  //Making a POST/Update request with fetch
  const transactionForm = document.getElementById('myTransactionForm')
    
  transactionForm.addEventListener('submit', function(e){
    e.preventDefault();

    console.log('Submitting Transaction')

    var portfolio_id = document.getElementById('portfolio_id').textContent
    var URL = window.location.origin + '/api/portfolios/' + portfolio_id + '/transactions/'

    const data = new FormData(this)
    const searchParam = new URLSearchParams()
    
    for (const pair of data) {
      searchParam.append(pair[0], pair[1])
      console.log(pair[0], pair[1])
    }

    fetch(URL, {
      method: 'POST',
      headers:{
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'symbol': searchParam.get('symbol'),
        'commissions': searchParam.get('commissions'),
        'fees': searchParam.get('fees'),
        'comments': searchParam.get('comments'),
        'transaction_type': searchParam.get('transaction_type'),
        'price': searchParam.get('price'),
        'quantity': searchParam.get('quantity'),
        'portfolio': portfolio_id,
        'update_cash_balance': searchParam.get('update_cash_balance'),
      }) //JavaScript object of data to POST
    })

    .then(response => {
      document.getElementById('myTransactionForm').reset()
      $('#modalTransaction').modal('toggle');
    })
    .then(data => {
      console.log('POST DATA', data)
      updateTransactions()
      // $('#portfolio_table').DataTable().draw()
      //Perform actions with the response data from the view
    })
    .catch(error => {
      console.log('ERROR', error)
    })
    
  });



  </script>



{% endblock %}
