{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block headers %}
    <!-- XDSoft DateTimePicker -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" /> -->

  <style>
  .bootstrap-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.bootstrap-autocomplete > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.li-state-hover,
.li-state-active,
.li-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.li-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#container {
	max-height: 800px;
	min-height: 75vh;
}
  </style>

<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">
<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">
  
{% endblock %}


{% block portfolio-name %}
<h2 class="az-content-title mg-b-5 mg-b-lg-8">{{ portfolio.name }}</h2> 
<h2 id="portfolio_id" class="az-content-title mg-b-5 mg-b-lg-8">{{ portfolio.id }}</h2> 
{% endblock %}

{% block content %}
<!-- {{ portfolio }} -->

  

    <div class="pd-20 bg-gray-200">
      
        <nav class="nav az-nav-line flex-column flex-md-row">
            <a class="nav-link active" data-toggle="tab" href="#">Price</a>
            <a class="nav-link" data-toggle="tab" href="#">Fundamentals</a>
            <a class="nav-link" data-toggle="tab" href="#">Reports</a>
            <a class="nav-link" data-toggle="modal" data-target="#modalTransaction" href>Buy/Sell</a>
            <a class="nav-link" data-toggle="tab" href="#">Distribution</a>
            <a class="nav-link" data-toggle="tab" href="#">Other</a>
            <a class="nav-link" data-toggle="tab" href="#">Details</a>
            <a class="nav-link" data-toggle="tab" href="#">Alerts</a>
            <a class="nav-link" data-toggle="tab" href="#">Get Quoes</a>
            <a class="nav-link" data-toggle="tab" href="#">More</a>
        </nav>

        <div class="modal" id="modalTransaction">
            <div class="modal-dialog"  role="document">
              <div class="modal-content" id="modalForm">
                <div class="modal-header">
                  <h6 class="modal-title">Buy Stock</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                  <form id="myTransactionForm">
                    <div class="modal-body">
                      <!-- <h6>Let's get you all setup so you can begin tracking your investments.</h6>
                      <p>Some Random Text.Someme Random Text.Some Random Text.Some RRandom Text.Some Random Text. </p> -->

                      {% crispy form %}
                      <!-- {{ form|crispy }} -->
                    </div>
                    <!-- <div class="modal-footer">
                      <input type="submit" id="submit-id-submit" class="btn btn-indigo">
                    </div> -->
                  </form>
              </div>
            </div><!-- modal-dialog -->
          </div>
    </div>
    <br/>

    <div>
      
      
        <h3>Price</h3>



        

          <div class="table-responsive">
            <table id="example" class="table table-striped table-hover table-bordered display nowrap" cellspacing="0" style="width:100%" >
              <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <!-- <th>Date Added</th> -->
                    <!-- <th>Buy Price</th>
                    <th>Adjusted Buy Price</th>
                    <th>Purchase Cost</th>
                    <th>Comment</th>

                    <th>Commissions</th>
                    <th>Fees</th>
                    <th>Update Cash Balance?</th>
                    <th>Transaction Type</th> -->

                    <th>Current Price</th>
                    <th>Last Price Update Date & Time</th>
                    <th>Day Change</th>
                    <th>Day Change %</th>
                    <th>Day Lo</th>
                    <th>Day Hi</th>
                    <th>52 Week Lo</th>
                    <th>52 Week Hi</th>
                    <th>Volume</th>
                    <th>Volume Average 10 days</th>
                    <th>Volume Average 3M</th>
                    <th>MktCap</th>
                    <th>EPS</th>
                    <th>P/E</th>
                    <th>P/B</th>
                    <th>EV/EBITDA</th>
                    <th>Dividend Yield</th>
                    <th>D/E</th>
                    <th>ROE</th>
                    <th>ROA</th>
                    <th>Revenues</th>
                    <th>EBITDA</th>
                    <!-- <th>Net Profit</th> -->
                    <th>Sector</th>
                    <th>Industry</th>
                    <th>Website</th>
                  
                    
                  </tr>
              </thead>
              

            </table>
          </div>

          <hr/>

          <h3>Transactions</h3>

          <div class="dataTables_wrapper no-footer">
            <table id="transaction_table" class="table table-striped" data-server-side="true" data-ajax="/api/portfolios/2/transactions/?format=datatables">
              <thead>
                  <tr>
                      <th data-data="symbol">symbol</th>
                      <th data-data="quantity">quantity</th>
                      <th data-data="purchase_date">purchase_date</th>
                      <th data-data="price">price</th>
                      <th data-data="adjusted_buy_price">adjusted_buy_price</th>
                      <th data-data="purchase_cost">purchase_cost</th>
                      <th data-data="commissions">commissions</th>
                      <th data-data="fees">fees</th>
                      <th data-data="update_cash_balance">update_cash_balance</th>
                      <th data-data="transaction_type">transaction_type</th>
                  </tr>
              </thead>
            </table>
          </div>


        </div>
        <!-- {{ stock }} -->
        <!-- <input id="datetimepicker" type="text"> -->

        <!-- <div id="events">
            Event summary - new events added at the top
        </div> -->

        <hr/>

        <div id="container" class="chart"></div>
        
        
    </div>


        

{% endblock %}  


{% block javascript %}
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>

  <script>
    // var symbol = document.getElementById('id_symbol').textContent
    $('#id_symbol').autoComplete({
        resolverSettings: {
            url: window.location.origin + '/api/suggestions/'
        }
                
    });
 
    
    $('#id_symbol').on('autocomplete.select', function (e) {
          // var symbol = $('#id_symbol').val()
          var symbol = document.getElementById('id_symbol').value

					console.log(symbol);
          $.ajax({
            type: "GET",
            url: window.location.origin + '/api/price/',
            data: { 'q' :  symbol},
            success: function(response) {
              // show response for success
              // console.log(response)
              document.getElementById('id_price').value = response
            },
            error:function(e) {
              // show response for success
              console.log(e)
            },
          });
				});
    


  </script>


  <script>

    $(document).ready(function() {

      $('#transaction_table').DataTable()

      var events = $('#events');
      var portfolio_id = document.getElementById('portfolio_id').textContent
      var collapsedGroups = {};
      var table = $('#example').DataTable({
        colReorder: true,
        stateSave:  true,
        paging: true,
        select: {
            style: 'single'
        },
        ajax: window.location.origin + '/api/portfolios/' + portfolio_id + '/stocks/?format=datatables',
        order: [[ 0, "desc" ]],
        columnDefs: [
          {"className": "dt-center", "targets": "_all"}
        ],
        columns: [
          { "data": "symbol" },
          { "data": "longName" },
          { "data": "quantity" },
          // { "data": "purchase_date" },
          // { "data": "buyPrice" },
          // { "data": "adjusted_buy_price" },
          // { "data": "purchase_cost" },
          // { "data": "comments" },
          // { "data": "commissions" },
          // { "data": "fees" },
          // { "data": "update_cash_balance" },
          // { "data": "transaction_type" },
          { "data": "regularMarketPrice" },
          { "data": "regularMarketTime" },
          { "data": "regularMarketChange" },
          { "data": "regularMarketChangePercent" },
          { "data": "regularMarketDayLow" },
          { "data": "regularMarketDayHigh" },
          { "data": "fiftyTwoWeekLow" },
          { "data": "fiftyTwoWeekHigh" },
          { "data": "regularMarketVolume" },
          { "data": "averageDailyVolume10Day" },
          { "data": "averageDailyVolume3Month" },
          { "data": "marketCap" },
          { "data": "epsTrailingTwelveMonths" },
          { "data": "trailingPE" },
          { "data": "priceToBook" },
          { "data": "enterpriseToEbitda" },
          { "data": "trailingAnnualDividendYield" },
          { "data": "debtToEquity" },
          { "data": "returnOnEquity" },
          { "data": "returnOnAssets" },
          { "data": "totalRevenue" },
          { "data": "ebitda" },
          // { "data": "netIncome" },
          { "data": "sector" },
          { "data": "industry" },
          { "data": "website" }
        ],
        rowGroup: {
          dataSrc: 'symbol',
          startRender: function ( rows, group ) {
            var collapsed = !!collapsedGroups[group];

            rows.nodes().each(function (r) {
              r.style.display = collapsed ? 'none' : '';
            });

            return $('<tr/>')
              .append('<td colspan="38">' + group + ' (' + rows.count() + ')</td>')
              .attr('data-name', group)
              .toggleClass('collapsed', collapsed);
          },
        },
      });

      

      $('#example tbody tr.group-start').each(function() {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
      });
      table.draw(false);

      $('#example tbody').on('click', 'tr.group-start', function () {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
                table.draw(false);
      });  

      table
        .on( 'select', function ( e, dt, type, indexes ) {
            var rowData = table.rows( indexes ).data().toArray();
            events.prepend( '<div><b>'+type+' selection</b> - '+JSON.stringify( rowData )+'</div>' );
        } )
        .on( 'deselect', function ( e, dt, type, indexes ) {
            var rowData = table.rows( indexes ).data().toArray();
            events.prepend( '<div><b>'+type+' <i>de</i>selection</b> - '+JSON.stringify( rowData )+'</div>' );
        } );


        const tr = $("<tr><td>CASH</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>");
        table.row.add(tr[0]).draw();
    });



  </script>


  <script>
    // $(function () {
    //   // $("#id_purchase_date").datetimepicker();
      

    // });

    
  </script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/data.js"></script>
  
  <script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
  <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
  
  <script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
  <script src="https://code.highcharts.com/modules/price-indicator.js"></script>
  <script src="https://code.highcharts.com/modules/full-screen.js"></script>
  
  <script src="https://code.highcharts.com/modules/stock-tools.js"></script>

  <script>

    updateTransactions()

    //Making a GET request with fetch
    function updateTransactions() {

      console.log('Updating Trasnactions ...')

      // var listTransactionWrapper = document.getElementById('list-transaction')
      // listTransactionWrapper.innerHTML = ''

      var portfolio_id = document.getElementById('portfolio_id').textContent
      var URL = window.location.origin + '/api/portfolios/' + portfolio_id + '/transactions/'

      fetch(URL, {
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
        },
      })
      .then(response => {
      
        return response.json() //Convert response to JSON      
      })
      .then(data => {
        //Perform actions with the response data from the view      
        console.log('GET Transaction List - : ', data.results)
        $('#example').DataTable().draw()
        

        var list = data.results
        for (var i in list) {
          console.log('GET Transaction Data: ', list[i])
          
        }
        
      })
    }

  //Making a POST/Update request with fetch
  const transactionForm = document.getElementById('myTransactionForm')
    
  transactionForm.addEventListener('submit', function(e){
    e.preventDefault();

    console.log('Submitting Transaction - POST')

    var portfolio_id = document.getElementById('portfolio_id').textContent
    var URL = window.location.origin + '/api/portfolios/' + portfolio_id + '/transactions/'

    const data = new FormData(this)
    const searchParam = new URLSearchParams()
    
    for (const pair of data) {
      searchParam.append(pair[0], pair[1])
      console.log(pair[0], pair[1])
    }

    fetch(URL, {
      method: 'POST',
      headers:{
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
          'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({
        'symbol': searchParam.get('symbol'),
        'commissions': searchParam.get('commissions'),
        'fees': searchParam.get('fees'),
        'comments': searchParam.get('comments'),
        'transaction_type': searchParam.get('transaction_type'),
        'regularMarketPrice': searchParam.get('regularMarketPrice'),
        'quantity': searchParam.get('quantity'),
        'portfolio': portfolio_id,
        'update_cash_balance': searchParam.get('update_cash_balance'),
      }) //JavaScript object of data to POST
    })

    .then(response => {
      updateTransactions()
      document.getElementById('myTransactionForm').reset()
      $('#modalTransaction').modal('toggle');
    })
    .then(data => {
      console.log('POSTED Transaction DATA', data)      
      $('#example').DataTable().draw()
      //Perform actions with the response data from the view
    })
    .catch(error => {
      console.log('ERROR', error)
    })
    
  });



  </script>



  <script>
    var chart_symbol = 'AAPL'
    Highcharts.getJSON('http://127.0.0.1:8000/api/charts/AAPLdelimeter10y/', function (data) {

      // console.log('Highcharts', data)

    // split the data set into ohlc and volume
    var ohlc = [],
      volume = [],
      dataLength = data.length,
      i = 0;

    for (i; i < dataLength; i += 1) {
      ohlc.push([
        data[i][0], // the date
        data[i][1], // open
        data[i][2], // high
        data[i][3], // low
        data[i][4] // close
      ]);

      volume.push([
        data[i][0], // the date
        data[i][5] // the volume
      ]);
    }

    Highcharts.stockChart('container', {
      yAxis: [{
        labels: {
          align: 'left'
        },
        height: '80%',
        resize: {
          enabled: true
        }
      }, {
        labels: {
          align: 'left'
        },
        top: '80%',
        height: '20%',
        offset: 0
      }],
      tooltip: {
        shape: 'square',
        headerShape: 'callout',
        borderWidth: 0,
        shadow: false,
        positioner: function (width, height, point) {
          var chart = this.chart,
            position;

          if (point.isHeader) {
            position = {
              x: Math.max(
                // Left side limit
                chart.plotLeft,
                Math.min(
                  point.plotX + chart.plotLeft - width / 2,
                  // Right side limit
                  chart.chartWidth - width - chart.marginRight
                )
              ),
              y: point.plotY
            };
          } else {
            position = {
              x: point.series.chart.plotLeft,
              y: point.series.yAxis.top - chart.plotTop
            };
          }

          return position;
        }
      },
      series: [{
        type: 'ohlc',
        id: 'ohlc',
        name: 'Stock Price',
        data: ohlc
      }, {
        type: 'column',
        id: 'volume',
        name: 'AAPL Volume',
        data: volume,
        yAxis: 1
      }],
      responsive: {
        rules: [{
          condition: {
            maxWidth: 800
          },
          chartOptions: {
            rangeSelector: {
              inputEnabled: false
            }
          }
        }]
      }
    });
    });
  </script>



{% endblock %}
